@import "./variables.css";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--accent-color);
  color: var(--text-color);
}

main {
  grid-area: main;
  padding: var(--spacing-md);
}

#root {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto; /* 'auto' ensures the footer is at the bottom */
  min-height: 100vh; /* Allows content to extend */
}


.addNewButton {
  background-color: var(--secondary-color);
  padding: var(--spacing-sm) var(--spacing-xs);
  border-radius: var(--size-xs);
  border: 1px solid var(--disabled-color);
  transition-duration: 0.2s;
}

.addNewButton a{
  color: var(--accent-color);
  text-decoration: none;
}

.addNewButton:hover {
  background-color: var(--secondary-color-dark);
}
